@model IEnumerable<TiendaTFS.Models.Pedido>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preparado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anulado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preparado)
            </td>
            <td>
                @if(item.Enviado == null)
                {
                    <p>Aún no se ha enviado</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Enviado)    
                }
            </td>
            <td>
                    @if(item.Anulado != null)
                    {
                        <p class="text-danger">Anulado</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Anulado)
                    }
                </td>
        </tr>
}
    </tbody>
</table>
