@model IEnumerable<TiendaTFS.Models.Producto>
@{
    ViewData["Title"] = "Escaparate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    <div style="text-align:center;">
        @{
            if (ViewBag.DescripcionCategoria == "Valenciano")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/1V.jpg"/>
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if (ViewBag.DescripcionCategoria == "Rock")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/Rock.jpg" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if(ViewBag.DescripcionCategoria == "Metal")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/Metal.jpg" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if(ViewBag.DescripcionCategoria == "Pop")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/Pop.png" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if(ViewBag.DescripcionCategoria == "Jazz")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/Jazz.jpg" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if (ViewBag.DescripcionCategoria == "Electronica")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/Electro.jpg" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if (ViewBag.DescripcionCategoria == "Rap")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/Rap.png" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if (ViewBag.DescripcionCategoria == "Hip Hop")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/Hip.png" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if (ViewBag.DescripcionCategoria == "JRock")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/JRock.jpg" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
            else if (ViewBag.DescripcionCategoria == "JPop")
            {
                <img style="width:50px; height:50px; margin-top:-2.auto%;" src="~/Imagenes/Adp.jpg" />
                <h1 style="display:inline; margin-left:0.5%;">@ViewBag.DescripcionCategoria.ToUpper()</h1>
            }
        }
    </div>
    @if (User.IsInRole("Usuario"))
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <table class="table">
                        @foreach (var i in ViewData["ListaCategorias"] as IEnumerable<Categoria>)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Index" asp-route-id="@i.Id">@i.Descripcion.ToString()</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="col-lg-9 col-md-12 col-sm-12">
                    <div class="card-colums" style="width: 1100px">
                        @foreach (var item in Model)
                        {
                            <div class="card" style="width: 270px; height:497px; text-align:center; display:inline-block; margin-left:47px; margin-top:25px;">
                                @{
                                    var nombreImagen = "Imagen-no-disponible.jpg";
                                    var stock = item.Stock;
                                    if (item.Imagen != null)
                                    {
                                        nombreImagen = item.Imagen;
                                    }
                                    <img class="card-img-top" style="width:200px; height:200px; margin: 10px;" src="~/Imagenes/@nombreImagen" />
                                    <h5 class="card-text" style="text-decoration:underline; height:50px; margin-top:10px;">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                                    <hr style="width: 75%; margin-left:12.5%; margin-top:-20px;">
                                    <p class="card-text" style="height:50px; margin-top:-5px;">@Html.DisplayFor(modelItem => item.Texto)</p>
                                    <h2 style="color:midnightblue; margin-top:-10px;">@Html.DisplayFor(modelItem => item.Precio)€</h2>
                                    <hr style="width:75%; margin-left:12.5%;">
                                    <p>Unidades disponibles: @Html.DisplayFor(modelItem => item.Stock)</p>
                                    if (stock > 0)
                                    {
                                        <div class="card-footer" style="width:auto;">
                                            <a asp-action="AñadirCarrito" asp-route-id="@item.Id" class="btn btn-success">Añadir al carrito</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card-footer" style="width:auto;">
                                            <a class="btn btn-danger">Sin stock</a>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("Administrador"))
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <table class="table">
                        @foreach (var i in ViewData["ListaCategorias"] as IEnumerable<Categoria>)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Index" asp-route-id="@i.Id">@i.Descripcion.ToString()</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="col-lg-9 col-md-12 col-sm-12">
                    <div class="card-colums" style="width: 1100px">
                        @foreach (var item in Model)
                        {
                            <div class="card" style="width: 270px; height:497px; text-align:center; display:inline-block; margin-left:47px; margin-top:25px;">
                                @{
                                    var nombreImagen = "Imagen-no-disponible.jpg";
                                    var stock = item.Stock;
                                    if (item.Imagen != null)
                                    {
                                        nombreImagen = item.Imagen;
                                    }
                                    <img class="card-img-top" style="width:200px; height:200px; margin: 10px;" src="~/Imagenes/@nombreImagen" />
                                    <h5 class="card-text" style="text-decoration:underline; height:50px; margin-top:10px;">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                                    <hr style="width: 75%; margin-left:12.5%; margin-top:-20px;">
                                    <p class="card-text" style="height:50px; margin-top:-5px;">@Html.DisplayFor(modelItem => item.Texto)</p>
                                    <h2 style="color:midnightblue; margin-top:-10px;">@Html.DisplayFor(modelItem => item.Precio)€</h2>
                                    <hr style="width:75%; margin-left:12.5%;">
                                    <p>Unidades disponibles: @Html.DisplayFor(modelItem => item.Stock)</p>
                                    <div class="card-footer" style="width:auto;">
                                        <a asp-area ="" asp-controller="Productos" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar producto</a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}